.header {
  position: absolute;
  inset: 0;
  padding: 40px 0;
  max-height: 48px;
  z-index: 100;

  &__wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
    justify-content: space-between;
  }
}
