@font-face {
  font-family: "PoiretOne";
  src: url(../fonts/PoiretOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Iglets";
  src: url(../fonts/Iglets.ttf);
  font-weight: 400;
}
