body {
  height: 100%;
  font-family: var(--main-fonts);
  font-size: 20px;
  background-color: var(--bg);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow: hidden;
}

a {
  display: block;
  color: var(--black);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
