:root {
  // COLOR

  --black: #000;
  --grey: #939393;
  --accent: #618674;
  --accent-light: #c3d3d0;
  --red: #d95d77;

  --bg: #f5f5f5;
  --bg-elem: #dbd7d3;
  --bg-lines: #f0eeec;

  // FONTS

  --main-fonts: "PoiretOne", Helvetica, sans-serif;
  --accent-fonts: "Iglets", Helvetica, sans-serif;
}
