:root {
  // COLOR

  --black: #000;
  --grey: #939393;
  --accent: #618674;
  --accent-light: #c3d3d0;
  --red: #d95d77;

  --bg: #f5f5f5;
  --bg-2: #dbd7d3;
  --bg-3: #f0eeec;
  --bg-4: #edeeec;

  --bg-rgba: rgba(241, 240, 237, 0.9);

  // FONTS

  --main-fonts: "PoiretOne", Helvetica, sans-serif;
  --accent-fonts: "Iglets", Helvetica, sans-serif;
}
